//- переменные
-
    var navigationList = [
        { name: 'Продукты', href: "#" },
        { name: 'Технологии', href: '#' },
        { name: 'Experience', href: '#' },
    ];

-
    var technologiesList = [
        { mainName: 'HDR', name: 'DISPLAY', iconName: 'hdr-display', title: 'Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.' },
        { mainName: 'INPUT', name: 'LAG', iconName: 'input-lag', title: 'Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.' },
        { mainName: 'HIGH REFRESH', name: 'RATE', iconName: 'refresh-rate', title: 'NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.' },
        { mainName: 'HIGH REFRESH', name: 'GAMUT', iconName: 'color-gamut', title: 'Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.' },
    ];

-
    var socialList = [
        { systemName: 'tw', href: "#" },
        { systemName: 'inst', href: '#' },
    ];
