header.header
    .container.header__container.js-header-container
        .header__logo
            include ../blocks/logo
        .header__menu.js-header-menu
            .header__navigation
                include ../blocks/navigation
            .header__social
                include ../blocks/social
        .header__mobile-button
            include ../blocks/mobile-button
