.technologies {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    @include media-breakpoint-down(lg) {
      @include column-mixin(1, 60px);
    }

    @include media-breakpoint-up(xl) {
      @include column-mixin(4, 30px);
    }
  }

  &__icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }

  &__icon {
    width: 150px;
    height: 70px;
    stroke: $white;
    stroke-width: 3px;
    fill: $black;
    transition: stroke 0.2s linear, fill 0.2s linear;
  }

  &__item:hover &__icon {
    stroke: $main-color;
    fill: $main-color_light;
  }

  &__slogan,
  &__slogan.heading-h2 {
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      text-align: left;
    }
  }

  &__important {
    font-weight: bold;
    color: $main-color;
  }

  &__title {
    font-size: 16px;
    line-height: 28px;
    color: #E1E1E1;
  }
}
