.welcome {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 60px;
  color: $white;
  background-image: url(../../img/background/welcome-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include media-breakpoint-up(xl) {
    background-position: top center;
  }

  &__container {
    margin-top: auto;
    margin-bottom: auto;
  }

  &__slogan {
    margin-bottom: 20px;
    text-align: center;
  }

  &__title {
    max-width: 730px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    text-align: center;
  }

  &__technologies {
    margin-bottom: 50px;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__button-modal.btn {
    width: 100%;
    text-align: center;

    @include media-breakpoint-up(xl) {
      width: auto;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
