@mixin column-mixin($count, $margin) {
  @if $count == 1 {
    width: 100%;

    margin-bottom: $margin;

    &:last-child {
      margin-bottom: 0;
    }
  } @else if $count > 1 {
    $widthPercent: 100% / $count;
    $widthMargin: ($margin * ($count - 1)) / $count;

    width: calc(#{$widthPercent} - #{$widthMargin});

    margin-top: $margin;
    margin-right: $margin;

    &:nth-child(#{$count}n) {
      margin-right: 0;
    }

    &:nth-child(-n + #{$count}) {
      margin-top: 0;
    }
  }
}

@mixin load-font($file, $family, $weight: normal, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: $family;
    font-style: $style;
    src: url('#{$file}.woff2') format('woff2'), url('#{$file}.woff') format('woff');
    font-display: swap;
  }
}
