section.page-class.welcome
    .container.welcome__container

        h2.welcome__slogan.heading-h2 ПРЕИМУЩЕСТВА G-SYNC
        p.welcome__title Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.

        .welcome__technologies
            include ../../technologies

        .welcome__footer
            a(class="btn btn_view_main welcome__button-modal"  href='#helloModal' data-toggle="modal") Купить
