form.form
    .form__field
        input(class="form__input" type="text" placeholder="Имя")
    .form__field
        input(class="form__input" type="email" placeholder="Mail")
    .form__field.form__field_type_submit
        button(class="btn btn_view_main form__button" type="submit") Купить
