ul.technologies
    each item in technologiesList
        li.technologies__item
            div.technologies__icon-container
                +icon(item.iconName,'technologies__icon')
            h3.technologies__slogan.heading-h2
                span.technologies__important= item.mainName
                |  #{item.name}
            p.technologies__title= item.title
