.button {
	@include font-size(18px);
	font-family: $btn-font-family;
}

.btn {
	@extend .button;
    box-sizing: border-box;
    padding: 16px 45px;
    background-color: transparent;
    border: none;
    text-decoration: none;

	&_view_main {
      color: $white;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.25px;
      text-transform: uppercase;
      background-color: $main-color;
      border: 2px solid transparent;
      transition: background-color 0.15s linear, border-color 0.15s linear, box-shadow 0.15s linear;

      &:hover {
        color: $white;
        background-color: $black;
        border-color: $main-color;
        box-shadow: 0 0 10px $main-color;
        text-decoration: none;
      }
    }
}

