.form {
  &__field {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &_type_submit {
      display: flex;
      justify-content: center;
    }
  }

  &__button {
    padding-right: 60px;
    padding-left: 60px;
  }
}
