.heading {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
}

.heading-h1 {
	@extend .heading;
}

.heading-h2 {
  font-family: $headings-font-family;
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.25px;
}
