$width-line: 25px;
$height-line: 2px;

.mobile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &_state_open {
    background-color: $main-color;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $main-color;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    width: $width-line;
    height: $height-line;
    background-color: $white;
    border-radius: 5px;
    transition: transform 0.15s linear, background 0.15s linear;
  }

  &__line {
    display: inline-flex;
    width: $width-line;
    height: $height-line;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: $white;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s linear, visibility 0.15s linear, background-color 0.15s linear;
  }
}
