.modal {
  &-content {
    width: 100%;
    padding: 20px 30px;
    background-color: $black;
    border: 2px solid $main-color;
    box-shadow: 0 0 20px rgba(119, 185, 0, 0.5);
    border-radius: 0;

    @include media-breakpoint-up(xl) {
      width: 540px;
      padding: 70px 95px;
    }
  }

  &-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    background-color: transparent;

    @include media-breakpoint-up(xl) {
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-close-icon {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: $white;
    stroke-width: 2px;
    transition: stroke 0.15s linear;
  }

  &-close:hover &-close-icon {
    stroke: $main-color;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    border: none;
  }

  &-body {
    padding: 0;
  }

  &-footer {
    padding: 0;
  }
}
