.navigation {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }

  &__link {
    display: block;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.15s linear;

    &:hover,
    &:focus {
      background-color: $main-color_light;
      text-decoration: none;
    }

    @include media-breakpoint-up(xl) {
      padding: 30px 25px;
      text-align: left;
    }
  }
}
