.social {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    max-width: 30px;
    max-height: 25px;
    fill: #808080;
    transition: fill 0.15s linear;
  }

  &__item:hover &__icon {
    fill: $main-color;
  }
}
