#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title.heading-h2 Преимущества G-SYNC
                    button.modal-close(type='button' data-dismiss='modal' aria-label='Close')
                        +icon('close', 'modal-close-icon')
            .modal-body
                include ../blocks/form.pug
