// глобальные стили кроме normalize

.container {
	@include make-container();
	@include make-container-max-widths();
}

img {
	@include img-fluid();
}

input {
  width: 100%;
  padding: 12px 18px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: $black;
  background-color: $white;
  border: 2px solid transparent;

  &:hover {
    border-color: lighten($main-color, 5%);
  }

  &:focus {
    border-color: $main-color;
    outline: none;
  }
}
