.header {
  position: sticky;
  top: 0;
  background-color: $black;

  &__container {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }
  }

  &__logo {
    width: 45px;
    height: 34px;
    flex-shrink: 0;
    margin-right: 20px;

    @include media-breakpoint-up(xl) {
      width: 81px;
      height: 60px;
      margin-right: 10px;
    }
  }

  &__menu {
    @include media-breakpoint-down(lg) {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 100%;
      left: 0;
      right: 0;
      padding-top: 15px;
      padding-bottom: 55px;
      height: 90vh;
      background-color: $black;
      transform: translateX(-100%);
      visibility: hidden;
      opacity: 0;
      transition: transform 0.25s ease-in-out, opacity 0s linear 0.25s, visibility 0s linear 0.25s;
    }

    @include media-breakpoint-up(xl) {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  }

  &__menu_state_open {
    @include media-breakpoint-down(lg) {
      transform: translateX(0%);
      visibility: visible;
      opacity: 1;
      transition: transform 0.25s ease-in-out, opacity 0s linear 0s, visibility 0s linear 0s;
    }
  }

  &__navigation {
    @include media-breakpoint-up(xl) {
      margin-right: 40px;
    }
  }

  &__social {
    @include media-breakpoint-down(lg) {
      margin-top: auto;
      margin-right: auto;
      margin-left: auto;
    }

    @include media-breakpoint-up(xl) {
      margin-left: auto;
    }
  }

  &__mobile-button {
    @include media-breakpoint-down(lg) {
      margin-left: auto;
    }

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}
